<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebBook</title>
    <script src="/javascripts/moment/moment.js"></script>
    <script src="/javascripts/moment/moment-with-locales.js"></script>
    <script src="/javascripts/bookshelf/app.js"></script>
    <link href="/images/fontawesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
        <div id="header-upper">
            <div id="site-logo">本好きのためのSNS</div>
            <ul class="tabs">
                <li id="top" class="tab-item"><a href="/">トップ</a></li>
                <li id="tweet" class="tab-item"><a href="/tweet">本のつぶやき</a></li>
                <li id="bookshelf" class="tab-item active-item"><a href="/bookshelf">みんなの本棚</a></li>
                <li id="search" class="tab-item"><a href="/search">自分に合った本を探す</a></li>
            </ul>
            <button id="login">ログイン</button>
        </div>

        <div id="header-lower">
            <div id="bookshelf-space" class="header-space"></div>
        </div>
    </header>

    <div id="container">
        <div class="tab-content" id="bookshelf-content"></div>
    </div>

    <footer></footer>
  </body>
</html>
