<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memoair</title>
    <script src="/javascripts/moment/moment.js"></script>
    <script src="/javascripts/moment/moment-with-locales.js"></script>
    <script src="/javascripts/tweet/modal.js"></script>
    <script src="/javascripts/tweet/tweet.js"></script>
    <script src="/javascripts/tweet/app.js"></script>
    <link href="/images/fontawesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
        <div id="header-upper">
            <div id="site-logo">Memoair</div>
            <ul class="tabs">
                <li id="top" class="tab-item"><a href="/">トップ</a></li>
                <li id="tweet" class="tab-item active-item"><a href="/tweet">リアルタイム投稿</a></li>
                <li id="bookshelf" class="tab-item"><a href="/bookshelf">みんなの思い出</a></li>
                <li id="search" class="tab-item"><a href="/search">自分に合った場所を探す</a></li>
            </ul>
            <%- login %>
        </div>

        <div id="header-lower">
            <div id="tweet-space" class="header-space">
                <div id="form-modal-btn" class="post-btn">投稿する
                    <span><img class="post-image" src="/images/post.png" alt="投稿画像"></span>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="tab-content" id="tweet-content">
            <div id="tweet-area">
                <ul id="all-tweet"></ul>
            </div>
        </div>
    </div>

    <div id="form-modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>本のつぶやきを投稿する</h2>
                <span class="form-close">X</span>
            </div>
            <form id="post-form" action="index.html" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div id="book-information">
                        <div class="form-input">
                            <p>本のタイトル</p>
                            <input type="text" id="book-title" size="15em" name="book-title" class="input">
                            <input type="text" name="dummy" style="display: none;"/>
                        </div>
                        <div class="form-input">
                            <p>画像アップロード</p>
                            <input type="file">
                        </div>
                    </div>
                    <div class="form-input">
                        <p>おすすめ度</p>
                        <div class="rate-form">
                            <input id="star5" type="radio" name="rate" value="5" class="star">
                            <label for="star5">★</label>
                            <input id="star4" type="radio" name="rate" value="4" class="star">
                            <label for="star4">★</label>
                            <input id="star3" type="radio" name="rate" value="3" class="star">
                            <label for="star3">★</label>
                            <input id="star2" type="radio" name="rate" value="2" class="star">
                            <label for="star2">★</label>
                            <input id="star1" type="radio" name="rate" value="1" class="star">
                            <label for="star1">★</label>
                            <input id="star0" type="radio" name="rate" value="0" class="active-star">
                         </div>
                    </div>
                    <div class="form-input">
                        <p>この本のつぶやき</p>
                        <textarea  rows="3" cols="60" id="book-comment" name="book-comment" class="input"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="post-confirm-btn">投稿する</button>
                </div>
            </form>
        </div>
    </div>

    <div id="demo-confirm-modal" class="confirm-modal">
        <div class="confirm-modal-content">
            <div class="confirm-modal-header">
                投稿を確定する
            </div>
            <div class="confirm-modal-body">
                <p>誹謗中傷に当たる表現がないことを確認してください。<br>みんなが楽しめるようマナーを守りましょう。</p>
            </div>
            <div class="confirm-modal-footer">
                <button class="confirm-cancel">キャンセル</button>
                <button type="submit" id="confirm-btn">投稿する</button>
            </div>
        </div>
    </div>

    <footer></footer>
  </body>
</html>
